# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
.next/
out/
.env.local
.env*.local
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Project
api/storage/
*.log
*.out
.ruff_cache/
.pytest_cache/
